<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 引入 AOS CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <title>URBNSTEP 首頁</title>
  </head>
  <body>
    <!-- *頁首區域 -->
    <%- include('./layout/header', { isIndex: true }); -%>

    <!-- *header導覽列表 -->
    <header class="header-list mb-md-0 p-md-0">
      <div class="w-50 py-12 bg-primary-200">
        <a href="products.html" class="text-md a-link-light">商品列表</a>
      </div>
      <div class="w-50 py-12 bg-primary-100">
        <a href="story.html" class="text-md a-link-light">品牌故事</a>
      </div>
    </header>

    <!-- *banner 首圖區域 -->
    <div class="index-banner">
      <div class="container d-flex align-center">
        <div class="hero-text-container text-white">
          <h2 class="text-display1 text-md-display2 mb-16">URBNSTEP</h2>
          <h3 class="h3 h5-md mb-48">Your Step, Your Statement</h3>
          <a href="./products.html">
            <button
              type="button"
              class="btn btn-primary-300 text-neutral-900 text-md-md"
              data-aos="zoom-out"
              data-aos-delay="100"
            >
              立即選購
            </button>
          </a>
        </div>
      </div>
    </div>

    <main>
      <!-- *main 新品上市 -->
      <section class="py-64 py-md-40">
        <div class="container">
          <h2 class="text-display2 h2-md mb-12 mb-md-8 text-center" data-aos="fade-up">
            New Arrival
          </h2>
          <h3 class="h2 h4-md mb-32 mb-md-24 text-center" data-aos="fade-up" data-aos-delay="100">
            新品上市
          </h3>
          <div class="row">
            <!-- 產品一 -->
            <div class="col-6 col-md-2" data-aos="fade-up" data-aos-delay="100">
              <a href="products.html" class="a-link-light">
                <div class="mb-40 mb-md-24">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-1.png"
                    alt="Monoverse"
                    class="mb-12 mb-md-8 transform-translateY"
                  />
                  <h4 class="h5 h6-md mb-4 mb-md-0">Monoverse</h4>
                  <p class="text-md">NT$3,600</p>
                </div>
              </a>
            </div>
            <!-- 產品二 -->
            <div class="col-6 col-md-2" data-aos="fade-up" data-aos-delay="200">
              <a href="products.html" class="a-link-light">
                <div class="mb-40 mb-md-24">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-2.png"
                    alt="PLATFORM 404"
                    class="mb-12 mb-md-8 transform-translateY"
                  />
                  <h4 class="h5 h6-md mb-4 mb-md-0">PLATFORM 404</h4>
                  <p class="text-md">NT$2,600</p>
                </div>
              </a>
            </div>
            <!-- 產品三 -->
            <div class="col-6 col-md-2" data-aos="fade-up" data-aos-delay="300">
              <a href="products.html" class="a-link-light">
                <div class="mb-40 mb-md-24">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-3.png"
                    alt="URBN Force"
                    class="mb-12 mb-md-8 transform-translateY"
                  />
                  <h4 class="h5 h6-md mb-4 mb-md-0">URBN Force</h4>
                  <p class="text-md">NT$3,200</p>
                </div>
              </a>
            </div>
            <!-- 產品四 -->
            <div class="col-6 col-md-2" data-aos="fade-up" data-aos-delay="400">
              <a href="products.html" class="a-link-light">
                <div class="mb-40 mb-md-24">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-4.png"
                    alt="Mode90"
                    class="mb-12 mb-md-8 transform-translateY"
                  />
                  <h4 class="h5 h6-md mb-4 mb-md-0">Mode90</h4>
                  <p class="text-md">NT$4,000</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- *hot sale 熱銷補貨 -->
      <section class="py-64 py-md-40">
        <div class="container">
          <h3 class="h2 h4-md mb-16" data-aos="fade-up">熱銷補貨</h3>
          <div class="row flex-md-nowrap product-md-row overflow-x-md-auto Scroll-Snap-md-row">
            <!-- 產品一 -->
            <div
              class="col-3 product-md-col Scroll-Snap-md-col"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <a href="./products.html" class="transform-translateY">
                <div class="product">
                  <span class="tag">人氣 No.1</span>
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-3.png"
                    alt="Melty Kiss"
                  />
                </div>
              </a>
            </div>
            <!-- 產品二 -->
            <div
              class="col-3 product-md-col Scroll-Snap-md-col"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <a href="./products.html" class="transform-translateY">
                <div class="product">
                  <span class="tag">人氣 No.1</span>
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product.png"
                    alt="PLATFORM 404"
                  />
                </div>
              </a>
            </div>
            <!-- 產品三 -->
            <div
              class="col-3 product-md-col Scroll-Snap-md-col"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <a href="./products.html" class="transform-translateY">
                <div class="product">
                  <span class="tag">人氣 No.1</span>
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-6.png"
                    alt="R:UNER"
                  />
                </div>
              </a>
            </div>
            <!-- 產品四 -->
            <div
              class="col-3 product-md-col Scroll-Snap-md-col"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <a href="./products.html" class="transform-translateY">
                <div class="product">
                  <span class="tag">人氣 No.1</span>
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-4.png"
                    alt="BOOMBLOK"
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- *banner-co-branded 廣告橫圖 -->
      <section class="py-48 py-md-24">
        <div class="banner-co-branded" data-aos="fade-up">
          <!-- 小區塊一 -->
          <h3 class="text-display2 h2-md text-white mb-16 d-md-flex flex-md-column gap-md-8">
            <span>URBNSTEP</span>
            <span class="h1 h3-md text-primary-300 px-24">x</span>
            <span>Kevin Chen</span>
          </h3>
          <!-- 單行文字 -->
          <h4 class="h2 h5-md text-white mb-32 mb-md-24">跨界聯名，限量發售</h4>
          <!-- 小區塊二 -->
          <p
            class="text-lg text-md-md text-neutral-500 d-md-flex flex-md-column gap-md-4 mb-48 mb-md-32"
          >
            <span>新銳漫畫家 Kevin Chen 親自操刀設計</span>
            <span class="d-md-none">，</span>
            <span>街頭能量全面引爆！</span>
          </p>
          <!-- button按鈕 -->
          <a href="./products.html">
            <button
              type="button"
              class="btn btn-primary-300 text-neutral-900"
              data-aos="zoom-out-down"
              data-aos-delay="100"
            >
              立即搶購
            </button>
          </a>
          <!-- 裝飾性質圖片 -->
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/d01fc1896a4289f1b03db4258c0cc716b1f4120d/2025-week3-4/sparkle.svg"
            alt="sparkle"
            class="sparkle-img"
          />
          <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/d01fc1896a4289f1b03db4258c0cc716b1f4120d/2025-week3-4/star.svg"
            alt="star"
            class="star-img"
          />
        </div>
      </section>

      <!-- *group 依系列選購 -->
      <section class="py-64 py-md-40">
        <div class="container">
          <h3 class="h2 h4-md mb-16" data-aos="fade-up">依系列選購</h3>
          <div class="row">
            <!-- 系列一 -->
            <div class="col-3 col-md-2">
              <a href="./products.html" class="transform-translateY">
                <div class="category mb-md-12" data-aos="zoom-in" data-aos-delay="100">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-6.png"
                    alt="URBN RUNNER 慢跑系列"
                  />
                  <div class="category-text">
                    <h4 class="h3 text-lg h6-md mb-8">URBN RUNNER</h4>
                    <p class="h4 text-lg h6-md">慢跑系列</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- 系列二 -->
            <div class="col-3 col-md-2">
              <a href="./products.html" class="transform-translateY">
                <div class="category mb-md-12" data-aos="zoom-in" data-aos-delay="200">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/product-11.png"
                    alt="STREETMODE 滑板系列"
                  />
                  <div class="category-text">
                    <h4 class="h3 text-lg h6-md mb-8">STREETMODE</h4>
                    <p class="h4 text-lg h6-md">滑板系列</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- 系列三 -->
            <div class="col-3 col-md-2">
              <a href="./products.html" class="transform-translateY">
                <div class="category mb-md-12" data-aos="zoom-in" data-aos-delay="300">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-9.png"
                    alt="CHUNK DISTRICT 厚底系列"
                  />
                  <div class="category-text">
                    <h4 class="h3 text-lg h6-md mb-8">CHUNK DISTRICT</h4>
                    <p class="h4 text-lg h6-md">厚底系列</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- 系列四 -->
            <div class="col-3 col-md-2">
              <a href="./products.html" class="transform-translateY">
                <div class="category mb-md-12" data-aos="zoom-in" data-aos-delay="400">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/product-10.png"
                    alt="COLLAB ZONE 聯名企劃"
                  />
                  <div class="category-text">
                    <h4 class="h3 text-lg h6-md mb-8">COLLAB ZONE</h4>
                    <p class="h4 text-lg h6-md">聯名企劃</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- *inspiration 穿搭靈感 -->
      <section class="py-64 py-md-40 mb-48 mb-md-24">
        <div class="container">
          <h3 class="h2 h4-md mb-16" data-aos="fade-up">穿搭推薦</h3>
          <!-- 最外層的 inspiration-row 12格線 -->
          <!-- 行動版滾動條樣式 overflow-x-md-auto -->
          <div class="inspiration-row overflow-x-md-auto Scroll-Snap-md-row">
            <!-- 區塊一 -->
            <div
              class="inspiration-col-4 Scroll-Snap-md-col"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="inspiration-row Scroll-Snap-md-row">
                <!-- 圖片一 -->
                <div class="inspiration-col-6 Scroll-Snap-md-col">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-1.png"
                    alt="穿搭靈感-1"
                  />
                </div>
                <!-- 圖片二 -->
                <div class="inspiration-col-6 Scroll-Snap-md-col">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-2.png"
                    alt="穿搭靈感-2"
                  />
                </div>
                <!-- 圖片三 -->
                <div class="inspiration-col-12 Scroll-Snap-md-col">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-3.png"
                    alt="穿搭靈感-3"
                  />
                </div>
              </div>
            </div>

            <!-- 區塊二 -->
            <div class="inspiration-col-4" data-aos="fade-up" data-aos-delay="200">
              <div class="inspiration-row Scroll-Snap-md-row">
                <!-- 圖片一 -->
                <div class="inspiration-col-6 Scroll-Snap-md-col">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-4.png"
                    alt="穿搭靈感-4"
                  />
                </div>
                <!-- 圖片二 -->
                <div class="inspiration-col-6 Scroll-Snap-md-col">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-5.png"
                    alt="穿搭靈感-5"
                  />
                </div>
                <!-- 圖片三 -->
                <div class="inspiration-col-6 Scroll-Snap-md-col">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-6.png"
                    alt="穿搭靈感-6"
                  />
                </div>
                <!-- 圖片四 -->
                <div class="inspiration-col-6 Scroll-Snap-md-col">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-7.png"
                    alt="穿搭靈感-7"
                  />
                </div>
                <!-- 圖片五 -->
                <div class="inspiration-col-6 Scroll-Snap-md-col">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-8.png"
                    alt="穿搭靈感-8"
                  />
                </div>
                <!-- 圖片六 -->
                <div class="inspiration-col-6 Scroll-Snap-md-col">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-9.png"
                    alt="穿搭靈感-9"
                  />
                </div>
              </div>
            </div>

            <!-- 區塊三 -->
            <div class="inspiration-col-4" data-aos="fade-up" data-aos-delay="300">
              <div class="inspiration-row Scroll-Snap-md-row">
                <!-- 圖片一 -->
                <div class="inspiration-col-12 Scroll-Snap-md-col">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-10.png"
                    alt="穿搭靈感-10"
                  />
                </div>
                <!-- 圖片二 -->
                <div class="inspiration-col-6 Scroll-Snap-md-col">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-11.png"
                    alt="穿搭靈感-11"
                  />
                </div>
                <!-- 圖片三 -->
                <div class="inspiration-col-6 Scroll-Snap-md-col">
                  <img
                    src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-12.png"
                    alt="穿搭靈感-12"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- *頁尾區域 -->
    <%- include('./layout/footer'); -%>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>

```
